body {
    background: #282A3A;
}
.custom-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2rem ;
}
.custom-btn {
    background-color: #EB455F;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.custom-btn:hover {
    background-color: rgba(235, 69, 95, 0.5);
}
h1 {
    color: white;
    margin-bottom: 1em;

}

.game-card {
    text-align: center;
    padding: 10px;
    border-radius: 8px;

}

.game-card img {
    width: 75%;
    border-radius: 5px;
}
.top-recommended {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ddd;
    text-align: center;
}

p {
    color: #ddd;
}

h2 {
    color: #ddd;
}