* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #1c1c1c;
}
.custom-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2rem ;
}
.custom-btn {
    background-color: #EB455F;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.custom-btn:hover {
    background-color: rgba(235, 69, 95, 0.5);
}
h1 {
    color: white;
    margin-bottom: 2em;

}

.game-card {
    padding: 10px;
    border-radius: 30px;
    position: relative;
    border: 1px solid #ddd;

}

.top-recommended {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ddd;
    text-align: center;
}

.game-card-small {
    padding: 10px;
    border-radius: 8px;
    position: relative;
    width: 10em;
    height: 14em;
    background-color: #fff;
    box-shadow: 5px 5px 25px #0000005f;
    padding: 10px 30px;
    border-radius: 10px
}


p {
    color: #ddd;
}

h2 {
    color: #ddd;
}

.custom-container {
    padding-left: 0;
    position: relative;
    display: flex;
}

.navbar {
    z-index: 3;
    background-color: #f9f9f9;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.navbar-dark .navbar-brand,
.navbar-dark .navbar-toggler-icon,
.navbar-dark .navbar-nav .nav-link {
  color: black;
}

footer {
    color: white;
}
#top_game{
    float:left;
    border-radius: 15px;
}
.smaller-img{
    border-radius: 15px;

}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #5c5c5c;
    backdrop-filter: blur(10px);
    padding: 0;
  }

  #summary {
    text-align: left;
  }