{% extends "layout.html" %}

{% block title %}
    Recommender
{% endblock %}

{% block main %}

<h1> Discover Your Indie Escape </h1>

<form action="/" method='post'>
    <div class="mb-3">
<input placeholder="Game" name="game" autocomplete="off" autofocus class="form-control mx-auto w-auto">
    </div>
    <div class="mb-3">
<button type="submit" class="btn custom-btn" type="submit">Recommend Me</button>
    </div>
</form>

{% if game_id %}
    <h3>{{ game_id }}</h3>
    {% endif %}

    {% if top_similar_games %}
<ul>
    {% for game in top_similar_games %}
    <li>{{ game['name'] }} </li>
    {% endfor %}
</ul>

{% endif %}

{% endblock %}
